<div class="d-flex flex-column flex-md-row align-items-center
p-3 px-md-4 mb-3 border-bottom shadow-sm">

    <h5 class="my-0 mr-md-auto font-weight-normal" style="font-weight: bold;">
        <a class="p-2 header" href="/">Partes Docente</a>
    </h5>

    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 header" href="/personas">Personas</a>
    </nav>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 header" href="/divisiones">Divisiones</a>
    </nav>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 header" href="/cargos">Cargos</a>
    </nav>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 header" href="/designaciones">Designaciones</a>
    </nav>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 header" href="/licencias">Licencias</a>
    </nav>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 header" href="/personas/reporte">Reporte de Concepto</a>
    </nav>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>