.d-flex  {
    background-color: black;
}
.header {
    text-decoration: none;
    color: white;
}

.header:hover {
    font-weight: bold;
}

#cantByPageForm {
    position: absolute; bottom: 2%;
    right: 0;
}