<div class="table-responsive">
    <h2>Divisiones&nbsp;<a routerLink="/divisiones/id/new" class="btn btn-success float-right">Nueva división</a></h2>
    <div *ngIf="error">
        <ngb-alert type="danger" (closed)="closeAlert()">
            <strong>{{ errorMessage }}</strong>
        </ngb-alert>
    </div>
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>Año y número</th>
                <th>Orientación</th>
                <th>Turno</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="divisiones.length == 0">
                <td colspan="8">No hay divisiones registradas.</td>
            </tr>
            <tr *ngFor="let division of divisiones; index as i">
                <td>{{ i + resultsPage.size * resultsPage.number + 1 }}</td>
                <td>{{ division.anio }}° {{ division.numero }}°</td>
                <td>{{ division.orientacion }}</td>
                <td>{{ division.turno }}</td>
                <td>
                    <a routerLink="/divisiones/id/{{ division.id }}"><i class="fa fa-pencil" placement="top" ngbTooltip="Editar"></i></a>
                </td>
                <td>
                    <button (click)="openDialog(division)" class="btn btn-danger" placement="top" ngbTooltip="Eliminar">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
        <ng-container *ngIf="pages.length > 1">
            <tfoot>
                <tr>
                    <td colspan="6">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a class="page-link" (click)="showPage(-2)">&laquo;</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" (click)="showPage(-1)">&lsaquo;</a>
                                </li>
                                <li *ngFor="let t of pages;" class="page-item">
                                    <a class="page-link" (click)="showPage(t)"
                                        [ngClass]="{'active': t === currentPage}"> {{t+1}} </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" (click)="showPage(-3)">&rsaquo;</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" (click)="showPage(-4)">&raquo;</a>
                                </li>
                            </ul>
                        </nav>
                    </td>
                </tr>
            </tfoot>
        </ng-container>
        <div id="cantByPageForm">
            <label for="resPage">Resultados por página: &nbsp;</label>
            <form [formGroup]="cantByPageForm">
                <input [(ngModel)]="cantByPage" type="number" id="resPage" value="5" class="form-control" min="1"
                    max="20" [ngClass]="{'is-invalid': cantByPageForm['controls']['cantByPageControl']['errors']}"
                    formControlName="cantByPageControl" style="width: 40%; margin: auto;">
                <button (click)="getDivisiones()" class="btn" style="width: 40%">Aceptar</button>
            </form>
        </div>
    </table>
</div>