/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='1000' preserveAspectRatio='none' viewBox='0 0 1440 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1117%26quot%3b)' fill='none'%3e%3crect width='1440' height='1000' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M161.46 0C217.85 22.29 201.13 98.84 250 98.84C309.79 98.84 307.22 28.29 378.79 0C432.22 -21.13 439.39 0 500 0C625 0 625 0 750 0C875 0 875 0 1000 0C1125 0 1125 0 1250 0C1375 0 1428.22 -53.22 1500 0C1553.22 39.45 1517.15 98.46 1500 185.34C1492.48 223.46 1459.5 211.5 1450.66 250C1423.36 368.83 1410.57 384.21 1427.71 500C1435.24 550.88 1485.6 533.55 1500 583.33C1521.75 658.55 1500 666.66 1500 750C1500 875 1562.5 937.5 1500 1000C1437.5 1062.5 1306.48 1062.36 1250 1000C1193.27 937.36 1273.58 870.12 1273.58 750C1273.58 735.35 1262.5 739.3 1250 730.47C1125.71 642.71 1095.44 550.99 1000 556.82C935.61 560.75 930.33 659.04 930.33 750C930.33 799.9 956.11 804.21 1000 838.54C1115.94 929.21 1250 956.13 1250 1000C1250 1036.86 1125 1000 1000 1000C875 1000 875 1000 750 1000C643.94 1000 639.66 1012.26 537.88 1000C514.66 997.2 523.04 975.85 500 969.88C379.1 938.54 367.34 915.27 250 925.37C192.34 930.33 206.76 983.06 150 1000C81.76 1020.37 28.13 1046.88 0 1000C-46.88 921.88 0 875 0 750C0 676.02 -22.97 667.5 0 602.04C20.89 542.5 87.72 549.18 87.72 500C87.72 455.05 18.81 467.4 0 413.79C-25.05 342.4 0 331.89 0 250C0 125 -49.05 75.95 0 0C31.68 -49.05 92.85 -27.13 161.46 0' stroke='rgba(184%2c 255%2c 242%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M750 127.55C702.73 127.55 686.84 190.62 686.84 250C686.84 298.72 706.4 343.75 750 343.75C828.89 343.75 931.82 302.18 931.82 250C931.82 194.08 825.22 127.55 750 127.55' stroke='rgba(184%2c 255%2c 242%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M31.25 0C145.37 111.47 131.8 233.87 250 244.19C366.17 254.33 393.97 39.25 500 40.91C579.5 42.15 557.12 147.58 621.05 250C682.12 347.83 672.8 359.66 750 441.41C790.85 484.66 844.42 449.6 857.14 500C883.36 603.89 793.95 638.7 827.87 750C865.38 873.08 908.65 865.18 1000 968.75C1018.91 990.18 1048.39 991.51 1048.39 1000C1048.39 1007.13 1024.2 1000 1000 1000C875 1000 875 1000 750 1000C691.29 1000 683.76 1021.58 632.58 1000C558.76 968.87 575.87 927.88 500 894.58C384.58 843.92 363.67 806.86 250 832.09C126.17 859.57 139.78 922.91 25 1000C14.78 1006.86 1.14 1011.36 0 1000C-11.36 886.36 0 875 0 750C0 739.8 -6.23 737.48 0 729.59C92.45 612.48 197.37 610.65 197.37 500C197.37 398.87 82.07 409.98 0 306.03C-16.62 284.98 0 278.01 0 250C0 125 -13.89 111.11 0 0C1.74 -13.89 20.37 -10.63 31.25 0' stroke='rgba(184%2c 255%2c 242%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1000 185.48C876.4 90.96 750 51.43 750 0C750 -41.31 875 0 1000 0C1122.34 0 1123.93 -3.27 1244.68 0C1248.93 0.11 1246.6 6.76 1250 6.76C1255.84 6.76 1255.81 0.2 1263.16 0C1380.81 -3.18 1410.8 -29.22 1500 0C1529.22 9.57 1517.33 44.65 1500 77.59C1451.54 169.65 1402.66 152 1368.42 250C1328.87 363.2 1387.88 385.35 1352.41 500C1328.67 576.75 1308.31 632.81 1250 632.81C1178.4 632.81 1131.64 586.36 1092.59 500C1045.1 394.96 1109.97 362.26 1076.92 250C1063.67 205 1039.86 215.96 1000 185.48' stroke='rgba(184%2c 255%2c 242%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1391.51 750C1391.51 701.13 1465.94 670.14 1500 670.14C1520.19 670.14 1500 710.07 1500 750C1500 827.7 1524.44 905.41 1500 905.41C1470.19 905.41 1391.51 818.76 1391.51 750' stroke='rgba(184%2c 255%2c 242%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M383.33 250C383.33 195.3 450.36 154.55 500 154.55C536.32 154.55 555.26 199.77 555.26 250C555.26 324.7 539.43 404.41 500 404.41C453.47 404.41 383.33 320.23 383.33 250' stroke='rgba(184%2c 255%2c 242%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1000 84.68C943.15 84.68 885.87 23.48 885.87 0C885.87 -18.86 942.94 0 1000 0C1055.85 0 1111.7 -18.78 1111.7 0C1111.7 23.56 1056.07 84.68 1000 84.68' stroke='rgba(184%2c 255%2c 242%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1197.12 250C1202.69 206.68 1226.64 175.68 1250 175.68C1271.17 175.68 1282.81 209.73 1286.18 250C1296.37 371.89 1292.47 378.91 1277.11 500C1274.38 521.49 1265.44 535.16 1250 535.16C1231.05 535.16 1213.06 525.51 1208.33 500C1186.62 382.93 1181.85 368.84 1197.12 250' stroke='rgba(184%2c 255%2c 242%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M278.85 750C278.85 688.09 391.53 590.28 500 590.28C601.24 590.28 698.28 687.26 698.28 750C698.28 801.76 599.7 819.28 500 819.28C389.99 819.28 278.85 802.59 278.85 750' stroke='rgba(184%2c 255%2c 242%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M727.27 1000C727.27 946.98 730.22 875 750 875C771.59 875 810 956.38 810 1000C810 1018.88 780 1000 750 1000C738.63 1000 727.27 1009.48 727.27 1000' stroke='rgba(184%2c 255%2c 242%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1117'%3e%3crect width='1440' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}


.form-control {
    display: flex;
    width: 400px;
}

label {
    font-size: large;
    font-weight: bold;
}

.table-responsive {
    background-color: white;
}


.table,
.table-striped,
.table-sm {
    text-align: center;
    vertical-align: middle;
}

.page-item {
    cursor: pointer;
}

.pagination a {
    color: black;
}

.pagination a:hover {
    background-color: #7dfcf3;
    color: black;
}

.page-link.active {
    background-color: #4ee5db !important;
    color: black !important;
    border-color: #19dbce !important;
}

.btn-danger {
    background-color: #E6215E !important;
    border-color: #dd1555 !important;
}

.btn-info {
    background-color: rgb(252, 212, 83) !important;
    border-color: rgb(224, 189, 75) !important;
}

.btn-success {
    background-color: #4ee5db !important;
    border-color: #19dbce !important;
    color: black !important;
}

.subtitulo {
    font-weight: bold;
    color: black;
}